@page "/weather"

<h1>Weather forecast</h1>
<pre>
<b TextWrapping="Wrap" HorizontalAlignment="Center">
                <Run Text="Вероятность ошибок для разных языков у стандартной модели" />
                    </b>

                    <b Margin="15,0" FontSize="12"
           FontFamily="Courier New"
           xml:space="preserve"
           TextAlignment="Left">
Spanish          │   3.0%       Arabic           │  16.0%
Italian          │   4.0%       Macedonian       │  16.5%
English          │   4.2%       Hungarian        │  17.0%
Portuguese       │   4.3%       Tamil            │  17.5%
German           │   4.5%       Hindi            │  21.5%
Japanese         │   5.3%       Estonian         │  21.9%
Polish           │   5.4%       Urdu             │  22.6%
Russian          │   5.6%       Slovenian        │  23.1%
Dutch            │   6.7%       Latvian          │  23.1%
Indonesian       │   7.1%       Azerbaijani      │  23.4%
Catalan          │   7.3%       Hebrew           │  27.1%
French           │   8.3%       Lithuanian       │  28.1%
Turkish          │   8.4%       Persian          │  32.9%
Swedish          │   8.5%       Welsh            │  33.0%
Ukrainian        │   8.6%       Serbian          │  33.9%
Malay            │   8.7%       Afrikaans        │  36.7%
Norwegian        │   9.5%       Kannada          │  37.0%
Finnish          │   9.7%       Kazakh           │  37.7%
Vietnamese       │  10.3%       Icelandic        │  38.2%
Thai             │  11.5%       Marathi          │  38.3%
Slovak           │  11.7%       Maori            │  38.5%
Greek            │  12.5%       Swahili          │  39.3%
Czech            │  13.3%       Armenian         │  44.6%
Croatian         │  13.4%       Belarusian       │  45.4%
Tagalog          │  13.8%       Nepali           │  47.1%
Danish           │  13.8%
Korean           │  14.3%
Romanian         │  14.4%
Bulgarian        │  14.6%
Chinese          │  14.7%
Galician         │  15.4%
Bosnian          │  15.7%
                    </b>
</pre>